{
  "name": "{{name}}",
  "version": "{{version}}",
  "title": "Ghost Copier",
  "author": "Distantcam",
  "contact": "{{author}}",
  "homepage": "{{{homepage}}}",
  "description": "{{description}}",
  "factorio_version":"0.15",
  "dependencies": ["base >= 0.15.0"]
}
